# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=
# Version of Elastic products
STACK_VERSION=
# Set the cluster name
CLUSTER_NAME=
# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=
#LICENSE=trial
# Port to expose Elasticsearch HTTP API to the host
ES_PORT=
#ES_PORT=127.0.0.1:9200
# Port to expose Kibana to the host
KIBANA_PORT=
#KIBANA_PORT=80
# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=
# Project namepace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject